<!DOCTYPE html>
<html lang="th">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Blog Pages</title>
</head>

<body>
    <%- include('../layout') %>
        <h2>
            <%= title %>
        </h2>
        <form action="">
            <div class="form-group">
                <label>ชื่อบทความ</label>
                <input type="text" name="name" class="form-control" id="">
            </div>
            <div class="form-group">
                <label>ชื่อผู้เขียน</label>
                <input type="text" name="author" class="form-control" id="">
            </div>

            <div class="form-group">
                <label>หมวดหมู่</label>
                <select name="category" id="">
                    <option value="นิยาย">นิยาย</option>
                    <option value="หนัง">หนัง</option>
                    <option value="สารคดี">สารคดี</option>
                    </select>
            </div>
        </form>
        <div class="py-2">
            <a href="/" class="btn btn-primary">
               กลับหน้าแรก
            </a>

        </div>
</body>

</html>