<!DOCTYPE html>
<html lang="th">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Blog Pages</title>
</head>

<body>
    <%- include('../layout') %>
        <h2>
            <%= title %>
        </h2>
        <div class="py-2">
            <a href="/blogs/add" class="btn btn-primary">
               เขียนบทความ
            </a>

        </div>

</body>

</html>