<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
</head>

<body>
    <%- include('layout') %>
        <h1>
            <%= title %>
        </h1>
        <p>HOMEPRO WEB
            <%= title %>
        </p>
</body>

</html>